/*Navigation Bar*/
.navbar-brand {
    color: whitesmoke;
    font-weight: bold;
}
.navbar-link {
    padding: 6px;
}

.nav-item, .nav-link {
    text-decoration: none;
    color: whitesmoke;
}

/*Pushes content from under navbar*/
body {
    padding-top: 65px;
}

#mainPageTitle {
    color: #303030;
}
#PostTitle {
    font-size: 1.2rem;
    color: dodgerblue;
}
#PostAuthor {
    font-size: 1.3rem;
    font-weight: bold;
    color: dodgerblue;
    text-decoration: none;
}
#PostBody {
    color: #303030;
    font-size: 1.5rem;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#FormPostBody {
    height: 25vh
}