{% include 'header.html' %}


<div class="container mt-2">
    <div class="row justify-content-center">

        {#        POST#}
        <div class="col-lg-4 col-md-8 col-sm-12 my-3 mx-lg-4 mx-md-2 bg-light border rounded border-primary" id="postBlock">

            <div class="container">
                <p>Author Name</p>
                <hr>
                <p class="p-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <hr>
            </div>

            <div class="btn-group col-md-12 text-center">
                <button class="btn btn-sm btn-primary">But1</button>
                <button class="btn btn-sm btn-primary">But2</button>
                <button class="btn btn-sm btn-primary">But3</button>
                <button class="btn btn-sm btn-primary">But4</button>
            </div>
        </div>

    </div>
</div>


{% include 'footer.html' %}