{% include "header.html" %}

<div class="container text-center pt-lg-5 mb-5">
    <div class="col-lg-8 col-md-10 mx-auto">
        <img src="{{ url_for('static', filename='img/logo.png')}}" style="width: 60%">
        <h1 class="font-weight-bold" id="mainPageTitle">Cyber-Fiber</h1>
        <div class="container p-md-5 p-sm-2">
            <p id="MainPageQuoteBody">"{{ quote.content }}"</p>
            <p id="MainPageQuoteAuthor">-{{ quote.author }}</p>
        </div>


    </div>

    <p>
        {% if current_user.is_authenticated %}
            <a href="{{ url_for('feed_page') }}" class="btn btn-outline-primary btn-lg mx-3">Check out The Feed</a>
        {% else %}
            <a href="{{ url_for('login') }}" class="btn btn-outline-primary btn-lg mx-3">Login</a>
            <a href="{{ url_for('register') }}" class="btn btn-primary btn-lg mx-3">Register</a>
        {% endif %}
    </p>

</div>
<hr>

{% include "footer.html" %}