{% include 'header.html' %}
{% import "bootstrap/wtf.html" as wtf %}

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto mb-5">
            <div class="page-heading">
                    <h1>New Post</h1>
                <span class="subheading">You're going to make a great post!</span>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-10 bg-light border rounded border-primary mx-auto p-sm-3">
{#                <form>#}
{#                    <div class="form-group">#}
{#                        <label for="exampleFormControlTextarea1">Title</label>#}
{#                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="1"></textarea>#}
{#                    </div>#}
{#                    <div class="form-group">#}
{#                        <label for="exampleFormControlTextarea2">Post</label>#}
{#                        <textarea class="form-control" id="exampleFormControlTextarea2" rows="10"></textarea>#}
{#                    </div>#}
{#                    <div class="container" align="right">#}
{#                        <button type="submit" class="btn btn-primary mb-3">Submit</button>#}
{#                    </div>#}
{##}
{#                </form>#}
                {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}
            </div>
        </div>
    </div>

{% include 'footer.html' %}